:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --secondary-accent-text-color: rgba(255, 255, 255, 0.6);
}

/* Цвет основного текста #212121 */
/* Цвет вторичного текста #757575 */
/* Акцент #2196F3 */
/* Белый #FFFFFF */
/* Акцент rgba(255, 255, 255, 0,6) */

/* Унаследование */
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-text-color);
}

/* Герой */

.hero-button {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0px;
  display: block;

  background-color: var(--accent-text-color);
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--white-text-color);
  color: var(--accent-text-color);
}

.hero h1 {
  font-size: 44px;
  line-height: 1.36;
  /*color: var(--white-text-color);*/
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px;
}

.hero {
  margin-top: 94px;
  margin-bottom: 94px;
}

/* Шапка сайта и Футер */

.logo {
  text-decoration: none;
  color: var(--accent-text-color);
  font-size: 26px;
  line-height: 1.15;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;

  padding-top: 24px;
  padding-bottom: 25px;
  display: block;
}

.logo-word {
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.cap-list a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.cap-contacts a {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.cap-list a:hover,
.cap-list a:focus {
  color: var(--accent-text-color);
}

.cap-contacts a:hover,
.cap-contacts a:focus {
  color: var(--accent-text-color);
}

.cap-list {
  padding: 0px;
  margin: 0px 0px 0px 93px;
  display: flex;
}

.cap-list li:not(:last-child) {
  margin-right: 50px;
}

.cap-contacts {
  margin: 0px 0px 0px auto;
  padding: 0px;
  display: flex;
}

.cap-contacts li:not(:last-child) {
  margin-right: 50px;
}

.cap-nav {
  display: flex;
  align-items: center;
}

.container-nav {
  display: flex;
}

/* Помощь по бизнесу */
.business-list h2 {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 0px;
}

.business-list p {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  margin: 10px 0px 0px;
}

.business-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.business-list li {
  width: 270px;
}

/* Чем мы занимаемся*/
.works h2 {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0px 0px 50px;
}

.works-list {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.works {
  margin-top: 94px;
}

.works-list img {
  display: block;
}

.works-list li:not(:last-child) {
  margin-right: 30px;
}

/* Наша команда */
.our-team h2 {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px 0px 50px;
}

.our-list h3 {
  font-size: 16px;
  line-height: 1.13;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin: 30px 0px 10px;
  text-align: center;
}

.our-list p {
  font-size: 16px;
  line-height: 1.13;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  margin: 0px;
  text-align: center;
}

.our-list {
  padding: 0px;
  margin: 0px;
  display: flex;
}

.our-list img {
  display: block;
}

.our-list li:not(:last-child) {
  margin-right: 30px;
}

.our-list {
  justify-content: center;
}

.our-list li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.our-team {
  margin-top: 94px;
}

/* Футер */
.footer address {
  font-size: 14px;
  line-height: 1.71;
  /*color: var(--white-text-color);*/
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
}

/* Кнопки-Фильтры */
.button-filter {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;

  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
}

.buttons-filter {
  display: flex;
  justify-content: center;
  margin: 0px 0px 50px;
  padding: 0px;
}

.button-filter:hover,
.button-filter:focus {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
}

.buttons-filter li:not(:last-child) {
  margin-right: 8px;
}

.section-trash {
  display: block;
  padding: 0px;
}

.section-trash a {
  padding: 0px;
}

.footer-margin {
  margin-top: 9px;
  margin-bottom: 9px;
}

.footer {
  margin-top: 94px;
}

.logo-footer {
  padding: 0px;
  margin-bottom: 20px;
}

/* .footer-word {
  color: var(--white-text-color);
} */

/* Портфолио */
.portfolio {
  margin-top: 94px;
}

.list-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-works li {
  margin-right: 30px;
  width: 370px;
}

.list-works li:nth-child(3n) {
  margin-right: 0px;
}

.list-works h2 {
  margin-top: 20px;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
}

.list-works p {
  margin: 0px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.8;
  color: var(--secondary-text-color);
}

/* Контейнер */
.container {
  width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
